<nav class="{{nav_class}}" id="nav-{{nav_class}}" role="navigation">
    <ul class="{{nav_class}}__ul">
        {% for item in menu.get_items %}
            <li class="{{nav_class}}__li {{item.classes | join(' ')}}">
                <a class="{{nav_class}}__a" href="{{item.get_path}}">{{item.title}}</a>
                {% if item.get_children %}
                    <ul class="{{nav_class}}__sub-nav">
                        {% for child in item.get_children %}
                            <li class="{{nav_class}}__sub-nav__li {{child.classes | join(' ')}}">
                                <a class="{{nav_class}}__sub-nav__a" href="{{child.get_path}}">{{child.title}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="#" class="{{nav_class}}__close" id="{{nav_class}}__close">{{icon('x')}}</a>
</nav>
