{% block content %}
    {{fn('tha_entry_before')}}
    <article class="{{post.post_class}} single-post" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
        <header class="single-post__header">
            <h1 class="single-post__title" itemprop="headline">{{post.title}}</h1>
            {% include 'partials/postmeta.twig' %}
        </header>
        <div class="single-post__content" itemprop="text">
            {{fn('tha_entry_top')}}
            {{post.content}}
            {{fn('tha_entry_bottom')}}
        </div>
    </article>
    {{fn('tha_entry_after')}}
{% endblock %}