<nav class="main-nav" role="navigation">
    <ul class="menu">
        {% for item in main_menu.get_items %}
            <li class="nav-main-item {{item.class}} {{item.current ? 'custom-current-item-class'}}"><a class="nav-main-link" href="{{item.get_path}}">{{item.title}}</a>
            {% if item.get_children %}
                <ul class="sub-menu">
                {% for child in item.get_children %}
                    <li class="nav-drop-item"><a href="{{child.get_path}}">{{child.title}}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </ul>
</nav>