<nav class="{{nav_class}}" role="navigation">
    <ul class="{{nav_class}}__ul">
        {% for item in menu.get_items %}
            <li class="{{nav_class}}__li {{item.class}} {{item.current}}">
                <a class="{{nav_class}}__a {{item.current ? 'is-current'}}" href="{{item.get_path}}">{{item.title}}</a>
                {% if item.get_children %}
                    <ul class="{{nav_class}}__sub-nav">
                        {% for child in item.get_children %}
                            <li class="{{nav_class}}__sub-nav__li">
                                <a class="{{nav_class}}__sub-nav__a" href="{{child.get_path}}">{{child.title}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>