<!doctype html>
<html class="no-js" {{language_attributes}}>
{% include 'partials/head.twig' %}

    <body class="{{body_class}}" itemscope="itemscope" itemtype="http://schema.org/WebPage">

        <div class="main-wrapper" id="main-wrapper">
            {% block header %}
                <header class="main-header" role='banner' itemscope="itemscope" itemtype="http://schema.org/WPHeader">
                    <div class="main-header__inner">
                        <h1 class="main-title" itemprop="headline">
                            <a href="{{bloginfo('url')}}" rel="home">
                                {% if theme.theme_mod('terminally_pixelated_logo') %}
                                    {% set logo = TimberImage(theme.theme_mod('terminally_pixelated_logo')) %}
                                    <img src="{{logo.src}}" alt="{{bloginfo('name')}}">
                                {% else %}
                                    {{bloginfo('name')}}
                                {% endif %}
                            </a>
                        </h1>
                    </div>
                </header>
            {% endblock %}

            {% include 'partials/nav.twig' with { 'nav_class': terminally_pixelated.classes.nav, 'menu': main_menu } %}

            <div class="main-content-sidebar-wrap">
                <main role="main" class="{{terminally_pixelated.classes.content}} {% if not main_sidebar %}{{terminally_pixelated.classes.content}}--full-width{% endif %}" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/{{schema.type}}">
                    {% if title %}
                        <header role="heading">
                            <h1 class="posttitle p-name">{{title}}</h1>
                        </header>
                    {% endif %}
                    <div class="wrapper">
                        {% block content %}
                        Sorry, no content
                        {% endblock %}
                        {% block after_content %}
                            {% if pagination %}
                                {% include 'partials/pagination.twig' %}
                            {% endif %}
                        {% endblock %}
                    </div>
                </main>

                {% if main_sidebar %}
                    <aside class="main-aside {{sidebar_class}}">
                        {{main_sidebar}}
                    </aside>
                {% endif %}
            </div>

            <footer class="{{terminally_pixelated.classes.footer}}" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
                <div class="{{terminally_pixelated.classes.footer}}__inner">
                    {% if footer_widgets %}
                        <section class="footer-widgets-wrapper">
                            {% for widget_area in footer_widgets %}
                                <div class="footer-widgets footer-widgets--{{loop.index}}">
                                    {{widget_area}}
                                </div>
                            {% endfor %}
                        </section>
                    {% endif %}
                    <section class="footer-text">
                        <p>Copyright  {{ 'now'|date('Y') }} {{bloginfo('name')}} | All Rights Reserved.</p>
                    </section>
                </div>
            </footer>
        </div>
        {{wp_footer}}
    </body>
</html>